body, input, p, ol, ul, td, select, textarea {
  font-family: helvetica, arial, sans-serif;
  color: black;
}

div.logo, div.stream, div.feedback {
  margin: auto;
  width: 540px;
}

div.logo img {
  display: block;
  margin: auto;
}

div.logo img {
  height: 300px;
  width: 300px;
}

div.sc-player ol.sc-trackslist a {
  font-size: 16px;
}

.hidden {
  display: none
}

.sc-player {
  margin: 0;
}

div.feedback {
  margin-top: 10px
}

div.feedback label.label {
  width: 60px;
  display: block;
  float: left;
}

div.feedback div.container {
  margin: auto;
  padding: 10px 30px;
  width: 300px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border:1px solid #000000;
  background-color:#F2F2F2;
  -webkit-box-shadow: #B3B3B3 2px 2px 2px;
  -moz-box-shadow: #B3B3B3 2px 2px 2px;
   box-shadow: #B3B3B3 2px 2px 2px;
}

div.feedback textarea#description {
  width: 283px;
}

div.feedback p.error {
  font-size: 13px;
  margin-top: 1px;
  color: #6B0202
}

div.feedback p.description {
  margin-bottom: 1px;
}
